@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --athens_gray: #e1e3e8;
  --blue_marguerite: #8470c0;
  --meteorite: #3a1d7b;
  --camelot: #912b63;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Jura', sans-serif;
}