footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-top: 5px solid var(--blue_marguerite);
    background-color: var(--athens_gray);
}